.home_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home_mensaje {
    font-size: 2rem;
    width: 30rem;
    margin: 0 auto;
    margin-bottom: 1rem;
    text-align: center;
}