.home_body {
    width: auto; 
    height: auto;   
    background: url("/public/celebration-white.jpg") fixed center;
    background-size: cover;
    user-select: none;
    margin: 0; 
  }

.home_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}