.login_form_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login_body {
    width: 100vw;
    height: 100vh;
    background: url("/public/celebration-login.jpg") fixed center;
    background-size: cover;
    user-select: none;
    margin: 0; 
  }