.login_body {
  width: auto;
  height: auto;   
  background-size: cover;
  background: url("/public/celebration-white.jpg") fixed center;
  user-select: none;
  margin: 0; 
}

.login_form_container {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;    
}